.header-container {
    display: flex;
    flex-direction: row;    
    align-items: center;
    min-height: 80px;   
    background-color: var(--color-bg-header);
    color: var(--color-font-secondary);      
    font-weight: bolder;
}

.site-title {
    font-size: 22px !important;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-navbar {
    display: flex;
    flex-direction: row;
}

.header-navbar ul {
    display: flex;
}

.header-navbar li {
    list-style-type: none;  
    margin-left: 20px;  
}

