.default-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-button);
  color: var(--color-font-secondary);
  border-radius: 10px;
  padding: 0 20px;
  min-height: 50px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  min-width: 200px;
}
